/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:15px Arial, sans-serif; background:#fff; color:#4b7589; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
select, input, textarea        { font-size:15px; color:#4b7589; vertical-align:middle; padding:0 0 0 15px; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:15px Arial, sans-serif; color:#396375; text-decoration:none; }
a:hover                        { color:#e11d5c; text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
body {
    margin: 0 auto;
    width: 100%;
}
.header {
    background: url("../img/header_background.jpg");
    background-size: 100%;
    height: 777px;
    margin: 0 auto;
}
.header nav {
    width: 100%;
    padding: 7px 0;
    margin: 0 auto;
    float: left;
    margin-top: 60px;
}
.header a{
    float: left;
}
.block_menu{
    width: 1100px;
    margin: 0 auto;
}
.header_menu {
    margin-top: 15px;
    width: 400px;
    float: right;
    text-align: right;
}
.header_menu li{
    display: inline-block;
    margin-right: 40px;
}
.header_menu li:last-child {
    margin-right: 0;
}
.header_menu a{
    color: white;
    font-size: 20px;
    font-family: 'Droid Sans', Bold;
}
.nav-scrolled {
    background: #2c3e50;
    position: fixed;
    margin-top: 0!important;
    transition: 0.2s ease;
}
.header h1 {
    font-family: 'Droid Sans' , Bold;
    font-size: 85px;
    text-align: center;
    margin: 0 auto;
    padding-top: 220px;
    color: white;
}
.button_header {
    width: 60px;
    margin: 0 auto;
    margin-top:185px;
}
.button_header a {
    margin-bottom:10px;
}
.button_header p{
    margin: 0 auto;
    margin-left: -10px;
    color: white;
    font-size: 25px;
    font-family:'Droid Sans' ;
}
.box_about {
    background: #34495e;
    width: 100%;
    height: 1140px;
}
.block_about {
    width: 970px;
    margin: 0 auto;
    padding-top: 120px;
    height: 1000px;
}
.block_about h2 {
    margin: 0 auto;
    width: 100px;
    color: white;
    font-family: 'Droid Sans' , Bold;
    font-size: 37px;
}
.block_about p {
    width: 650px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: 'Droid Sans';
    font-size: 25px;
}
.block_elements {
    width: 930px;
    margin: 0 auto;
    margin-top: 130px;
    height: 450px;
}
.block_elements li {
    float: left;
    width: 235px;
    height: 445px;
}
.block_elements img {
    margin-left: 17%;
}
.block_elements h3 {
    color: white;
    font-family: 'Droid Sans' , Bold;
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
.block_elements p {
    color: white;
    font-family: 'Droid Sans';
    font-size: 23px;
    text-align: center;
    width: 230px;
}
.block_middle {
    margin: 0px 100px;
}
.portfolio {
    width: 100%;
    background: white;
}
.box_portfolio {
    width: 1160px;
    height: 1000px;
    margin: 0 auto;
}
.box_portfolio h3 {
    margin: 0 auto;
    margin-top: 120px;
    width: 150px;
    color: #2c3e50;
    font-size: 40px;
    font-family: 'Droid Sans' , Bold;
}
.box_portfolio ul {
    width: 580px;
    height: 30px;
    margin: 0 auto;
    margin-top: 80px;
}
.link_portfolio{
    float: left;
    margin: 0px 5px;
}
.link_portfolio a{
    height: 46px;
    border-radius: 20px;
    color: #2c3e50;
    font-size: 23px;
    padding: 10px 20px;
    font-family: 'Droid Sans';
}
.link_portfolio a:hover{
    height: 46px;
    border-radius: 20px;
    background: #2ecc71;
    color: #2c3e50;
}
.works_items {
    width: 1160px;
    height: 600px;
    margin-top: 100px;
}
.works_items ul {
    width: 1160px;
    height: 600px;
    margin-left: 10px;
}
.works_items li {
    width: 352px;
    height: 267px;
    border: 1px solid lightgrey;
    float: left;
    margin: 12px;
}
.item  {
    width: 320px;
    height: 267px;
}
.item img{
    margin: 5px;
    width: 342px;
    height: 257px;
}
.team {
    width: 100%;
    background: #2980b9;
}
.box_team {
    width: 1160px;
    height:910px;
    margin: 0 auto;
    padding-top: 120px;
}
.box_team h3{
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Droid Sans';
    color: white;
    font-weight: 600;
    width: 80px;
    height: 25px;
}
.cosmo {
    width: 310px;
    height: 620px;
    float: left;
    margin-top: 150px;
    margin-left: 170px;
}
.cosmo li {
    margin: 0 auto;
    margin-top: 40px;
}
.image_team {
    width: 231px;
    height: 230px;
    margin-left: 35px;
}
.cosmo address {
    font-size: 25px;
    font-family: 'Droid Sans';
    font-weight: 600;
    width: 175px;
    height: 30px;
    color: white;
    margin: 0 auto;
    text-align: center;
}
.cosmo p {
    font-size: 20px;
    font-family: 'Droid Sans';
    color: white;
    width: 300px;
    height: 122px;
    margin: 0 auto;
    text-align: center;
}
.box_twitter {
    width: 190px;
    height: 60px;
    margin-left: 80px;
}
.box_twitter a {
    float: left;
    margin-right: 30px;
}
.box_twitter img{
    width: 59px;
    height: 58px;
}
.george {
    width: 310px;
    height: 620px;
    float: left;
    margin-top: 150px;
    margin-left: 200px;
}
.george li {
    margin: 0 auto;
    margin-top: 40px;
}
.image_team {
    width: 231px;
    height: 230px;
    margin-left: 40px;
}
.george address {
    font-size: 25px;
    font-family: 'Droid Sans';
    font-weight: 600;
    width: 205px;
    height: 30px;
    color: white;
    margin: 0 auto;
    text-align: center;
}
.george p {
    font-size: 20px;
    font-family: 'Droid Sans';
    color: white;
    width: 300px;
    height: 122px;
    margin: 0 auto;
    text-align: center;
}
.george div {
    width: 190px;
    height: 60px;
    margin-left: 130px;
}
.george a {
    float: left;
}
.box_twitter img{
    width: 59px;
    height: 58px;
}
.contact {
    width: 100%;
}
.box_contact {
    width: 1160px;
    height:700px;
    margin: 0 auto;
    padding-top: 100px;
}
.box_contact h1 {
    font-size: 45px;
    font-family: 'Droid Sans', Bold;
    color: #2c3e50;
    width: 160px;
    height: 45px;
    margin: 0 auto;

    text-align: center;
}
.box_contact h3 {
    font-size: 25px;
    font-family: 'Droid Sans', Bold;
    color: #2c3e50;
    width: 500px;
    height: 35px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}
.block_forms {
    width: 700px;
    height: 430px;
    margin-left: 330px;
    margin-top: 50px;
}
.box_contact form {
    width: 370px;
    height: 410px;
    float: left;
}
.box_contact input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px solid #2ecc71;
    margin-top: 40px;
    font-family: 'Droid Serif';
    font-size: 23px;
    color: #2c3e50;
    padding: 0;
}
.box_contact textarea {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px solid #2ecc71;
    margin-top: 40px;
    font-family: 'Droid Serif';
    font-size: 23px;
    color: #2c3e50;
    resize: none;
    padding: 0;
}
.box_contact button {
    border-radius: 20px;
    background: #2ecc71;
    height: 45px;
    width: 130px;
    cursor: pointer;
    font-size: 23px;
    font-family: 'Droid Serif';
    color: white;
    text-align: center;
    border: 0;
    margin-top: 45px;
}
.contact_adress {
    width: 200px;
    height: 410px;
    float: left;
    margin-left: 60px;
}
.contact_adress li {
    margin-top: 30px;
}
.contact_adress h4 {
    font-family: 'Droid Sans';
    font-size: 18px;
    color: #2c3e50;
}
.contact_adress p {
    font-family: 'Droid Sans';
    font-size: 15px;
    margin-top: 15px;
    color: #2c3e50;
}
footer {
    width: 100%;
    background: #2c3e50;
}
.footer_box {
    height: 280px;
    width: 1160px;
    margin: 0 auto;
}
.logo_footer {
    margin-left: 150px;
    margin-top: 70px;
    float: left;
}
.block_items {
    float: left;
}
.footer_box li {
    float: left;
    margin-left: 150px;
    margin-top: 30px;
    font-family: 'Droid Sans', Bold;
    font-size: 15px;
    color: white;
}
.social_networks {
    float: left;
    margin-left: 150px;
    margin-top: 20px;
}
.social_networks img {
    margin-left: 20px;
}