.wrapper {
    width: 750px;
    margin: 0 auto;
}

header {
    text-align: center;
    line-height: 0.5;
}

.head {
    font-size: 22px;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.coursera {
    font-style: italic;
}

.line {
    text-decoration: underline;
}

.double {
    text-decoration: underline;
    font-style: italic;
}

.combo {
    font-style: italic;
    font-weight: bold;
}

.sharing {
    margin-left: 300px;
    margin-top: 0;
}

.accountability {
    margin-left: 400px;
}

img {
    float: left;
    margin: 0 10px 10px 0;
}

.picture {
    float: none;
    display: block;
    margin: 0 auto;
}

ul, ol {
    margin-top: 40px;
}